/*Global Classes*/
:root {
    --gray               : rgb(212, 212, 212);
    --header-white       : rgb(246, 246, 248);
    --search-white       : rgb(232, 232, 234);
    --body-white         : rgb(239, 238, 245);
    --dlsu-green         : #00703c;
    --dlsu-green-light   : #008a4a;
    --dlsu-green-lighter : #00a357;
}

.bg-dlsu {
    background : var(--dlsu-green) !important;
}

.bg-dlsu-light {
    background : var(--dlsu-green-light) !important;
}

.bg-dlsu-lighter {
    background : var(--dlsu-green-lighter) !important;
}

.bg-search-white {
    background : var(--search-white) !important;
}

.bg-body-white {
    background : var(--body-white) !important;
}

.text-dlsu {
    color : var(--dlsu-green) !important;
}

/*Content*/
#content {
    overflow-x : scroll;
}

/*Hidden and Showing*/
.hidden {
    opacity        : 0;
    pointer-events : none;
}

.showing {
    opacity        : 1;
    pointer-events : all;
}

/*Home*/
.home-card {
    min-width   : 640px;
    max-width   : 640px;
    margin      : 16px;
    transition  : 200ms;
    overflow    : hidden;
    flex-shrink : 0;
    z-index     : 1; /* Fixes border-radius issue */
    box-shadow  : 0 3px 20px 0px rgba(0, 0, 0, 0.03), 0 0px 4px rgba(0, 0, 0, 0.13);
}

.home-card:last-child {
    margin-bottom : 36px;
}

.home-card.active {
    min-width  : 720px;
    box-shadow : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin     : 48px;
}

.home-card:hover {
    box-shadow : 0 10px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.home-card .section-row:last-child {
    border-bottom : none;
}

.home-card .card-details {
    transition : 500ms;
    transition-timing-function: ease-in;
    max-height : 80px;
}

.home-card .card-details.fetched {
    max-height : 400px; /* Arbitrary large number */
}

/*Section titles and footers*/
small.section-title,
small.section-footer {
    display     : block;
    color       : var(--secondary);
    margin-left : 1rem;
}

small.section-title {
    text-transform : uppercase;
    padding-top    : 1.5rem;
    margin-bottom  : .25rem;
}

small.section-footer {
    margin-bottom : 1.5rem;
    margin-top    : .5rem;
}

.section:last-child {
    margin-bottom : 2rem;
}

.section-row.active {
    background   : var(--dlsu-green-light);
    border-color : var(--dlsu-green-lighter);
}

.section-row.active:hover {
    background : var(--dlsu-green-lighter)
}

/* Loading Container */
div.loading-container {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    text-align      : center;
    padding         : 20px;
    background      : var(--body-white);
    height          : 100%;
    width           : 100%;
    color           : var(--secondary);
}

/*Search Input*/
input.form-control.search-input {
    border     : none;
    background : var(--search-white);
}

/*Search cancel button*/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance : searchfield-cancel-button;
}

/*List Group Items*/
.list-group-item {
    transition : 200ms;
}

/*Form Modal Body*/
.modal-body.form {
    background : var(--light);
    padding    : 1.5rem;
}

.modal-body.form br {
    display     : block;
    line-height : 48px;
}

/*Draggable region on top*/
#window-handle-bar {
    height             : 50px;
    width              : 100vw;
    -webkit-app-region : drag;
    position           : fixed;
    pointer-events     : none;
}

/*Root*/
#root > div {
    height : 100vh;
    width  : 100vw;
}

/*Main Navigation*/
#main-navigation {
    box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.24);
    z-index            : 1040;
    -webkit-app-region : drag;
    min-width          : 80px;
    width              : 80px;
    padding            : 0;
    transition         : 350ms;
}

#main-navigation.expanded {
    width     : 320px;
    min-width : 320px;
}

#main-navigation-tabs > li {
    display         : flex;
    flex-direction  : row;
    justify-content : flex-end;
}

#main-navigation .dlsu-logo {
    width      : 48px;
    height     : 48px;
    position   : absolute;
    top        : 48px;
    transition : 300ms;
}

#main-navigation.expanded .dlsu-logo {
    width   : 80px;
    height  : 80px;
    top     : 24px;
    opacity : 1;
}

#main-navigation #switch-user-button {
    opacity        : 0;
    pointer-events : none;
    transition     : 300ms opacity;
}

#main-navigation.expanded #switch-user-button {
    opacity        : 1;
    pointer-events : all;
}

#main-navigation li.nav-item.active a.nav-item {
    font-size   : 20px;
    font-weight : bold;
}

#main-navigation .nav-link {
    padding : 0;
    width   : 100%;
}

#main-navigation-tabs {
    margin-top : 40px;
}

#main-navigation ul.navbar-nav,
#main-navigation ul.navbar-nav li.nav-item {
    width : 100%;
}

#main-navigation li.nav-item {
    text-align : center;
    transition : 300ms background;
}

#main-navigation li.nav-item.active {
    background : var(--dlsu-green-light);
}

#main-navigation .expand-button {
    background : transparent;
    color      : white;
    border     : none;
    opacity    : 0.7;
    transition : 300ms;
    position   : absolute;
    bottom     : 16px;
}

#main-navigation .expand-button > img {
    width  : 40px;
    height : 40px;
}

#main-navigation .expand-button:hover {
    opacity : 1;
}

#main-navigation.expanded .expand-button {
    opacity        : 0;
    pointer-events : none;
}

#main-navigation .sidebar-tab-description {
    opacity    : 0;
    transition : 200ms opacity;
}

.sidebar-image,
#main-navigation.expanded .sidebar-tab-description,
#main-navigation .dlsu-logo {
    opacity : 0.6;
}

.sidebar-image {
    margin : 16px 22px 16px 22px;
    width  : 36px;
    height : 36px;
    cursor : pointer;
}

li.nav-item:hover .sidebar-image,
li.nav-item.active .sidebar-image,
#main-navigation.expanded li.nav-item:hover .sidebar-tab-description,
#main-navigation.expanded li.nav-item.active .sidebar-tab-description {
    opacity : 1;
}

#black-covering {
    width          : 100%;
    height         : 100%;
    position       : fixed;
    background     : black;
    opacity        : 0;
    z-index        : 200;
    transition     : 300ms;
    pointer-events : none;
}

#black-covering.showing {
    opacity        : 0.3;
    pointer-events : all;
}

/*Page Head*/
.page-head {
    background    : var(--header-white);
    border-bottom : 1px solid var(--gray);
    padding       : 1rem;
    flex-shrink   : 0;
}

.page-head-title {
    font-weight : bold;
}

.page-head-controls {
    display        : flex;
    flex-direction : row;
    margin-bottom  : 8px;
}

.page-head-actions {
    min-width       : 200px;
    display         : flex;
    justify-content : flex-end;
}

.page-body {
    height     : 100%;
    overflow-y : scroll !important;
    background : var(--body-white);
}

/*Page Body*/
.accordion-link {
    color : black;
}

/*Sidebar*/
.sidebar {
    border-right : 1px solid var(--gray);
}

.sidebar-right {
    border-left : 1px solid var(--gray);
    transition  : 400ms;
}

.sidebar-right.dismissed {
    width : 0;
}

.sidebar, .sidebar-right {
    width          : 320px;
    display        : flex;
    flex-direction : column;
    flex-shrink    : 0;
}

/*Collapse*/
.collapse-image {
    width      : 24px;
    height     : 24px;
    transition : 150ms;
}

.expand-image {
    width    : 24px;
    height   : 24px;
    position : absolute;
    top      : 16px;
}

.collapse-image:hover {
    opacity : 0.6;
    cursor  : pointer;
}

.collapsible {
    width                      : 320px;
    transition                 : 300ms;
    transition-timing-function : ease;
    overflow                   : hidden;
}

.collapsible.collapsed {
    width      : 64px;
    background : var(--light);
    transform  : rotate(0deg);
    float      : left;
    box-shadow : 0 3px 5px 0px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor     : pointer;
    z-index    : 1; /* This sets the shadow above */
}

.collapsible.collapsed:hover {
    background : white;
}

.collapsible:not(.collapsed) {
    width : 320px;
}

.collapse-content {
    position        : absolute;
    width           : 63px;
    top             : 0;
    height          : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-align      : center;
}

.collapsible .expand-content,
.collapsible .collapse-content {
    transition : 150ms opacity;
}

.collapsible:not(.collapsed) .expand-content,
.collapsible.collapsed .collapse-content {
    opacity        : 1;
    pointer-events : all;
}

.collapsible:not(.collapsed) .collapse-content,
.collapsible.collapsed .expand-content {
    opacity        : 0;
    pointer-events : none;
}

.collapse-content h4 {
    margin-bottom : 0;
    transform     : rotate(270deg);
    color         : var(--secondary);
}

/*List group item override*/
.list-group-item.section-row:first-child,
.list-group-item.section-row:last-child {
    border-radius : 0;
}

.list-group-item.section-row {
    border-right : 0;
    border-left  : 0;
}

/*Tab Bar*/
.tab-bar {
    border-top : 1px solid var(--gray);
    background : var(--header-white);
    flex       : 0;
}

.tab-bar-image {
    width  : 30px;
    height : 30px;
}

.tab-bar ul li {
    max-width : 240px;
}

.selectable-tab {
    cursor : pointer;
}

/*Switch user*/
#switch-user-button {
    width          : 100%;
    color          : white;
    padding-top    : 24px;
    padding-bottom : 16px;
    text-align     : center;
    background     : var(--dlsu-green-light);
    transition     : 150ms background;
    position       : absolute;
    bottom         : 0;
}

/*Institutions Page*/
.memorandums-accordion .card {
    border-radius : 0;
}

.memorandums-accordion > .card,
.memorandums-accordion .card-header {
    border-left  : none;
    border-right : none;
}

.memorandums-accordion > .card {
    border : none;
}

.memorandums-accordion > .card:first-child {
    border-top : 1px solid rgba(0, 0, 0, .125);
}

.memorandums-accordion .card > .card-header:not(.collapsed) {
    background    : var(--dlsu-green);
    border-bottom : 0;
    color         : white;
}

#memorandum-detail {
    border-left : 1px solid var(--gray);
    overflow-y  : scroll;
}

/*Sign In*/
#sign-in {
    position   : absolute;
    z-index    : 2000;
    transition : 500ms opacity;
}

#erio-logo {
    color        : white;
    border-left  : 1px solid white;
    padding-left : 24px;
    font-weight  : 200;
}

#logo-set .dlsu-logo {
    width  : 160px;
    height : 160px;
}

#sign-in input.form-control::placeholder {
    color   : white;
    opacity : 0.7;
}

#logo-set {
    width : 720px;
}

.signed-out {
    animation-name     : slide-from-bottom;
    animation-duration : 0.8s;
    opacity            : 1;
    margin-top         : 0;
}

@keyframes slide-from-bottom {
    0% {
        margin-top : 400px;
        opacity    : 0.2
    }
    100% {
        margin-top : 0;
        opacity    : 1;
    }
}

.signed-in {
    animation-name     : slide-to-top;
    animation-duration : 1s;
    opacity            : 0;
    margin-bottom      : 520px;
}

@keyframes slide-to-top {
    0% {
        margin-bottom : 0;
        opacity       : 1;
    }

    100% {
        margin-bottom : 400px;
        opacity       : 0.8
    }
}

#sign-in-spinner {
    position   : absolute;
    transition : 200ms opacity;
    width      : 320px;
}

#sign-in-box {
    width      : 320px;
    display    : flex;
    transition : 200ms;
}

#sign-in-box.shaking {
    animation-name     : shake;
    animation-duration : 500ms;
}

@keyframes shake {
    0% {
        transform : translateX(-24px);
    }
    20% {
        transform : translateX(24px);
    }
    40% {
        transform : translateX(-24px);
    }
    60% {
        transform : translateX(24px);
    }
    100% {
        transform : translateX(0px);
    }
}

/*Institution Navigation*/
#tab-content {
    flex       : 1;
    min-height : 0;
    overflow-y : scroll;
}

/*UploadCare Widget*/
.uploadcare--widget {
    display : block;
}

/* btn btn-outline-success*/
.uploadcare--widget__button {
    display        : inline-block;
    font-weight    : 400;
    text-align     : center;
    white-space    : nowrap;
    vertical-align : middle;
    user-select    : none;
    padding        : 0.375rem 0.75rem;
    font-size      : 1rem;
    line-height    : 1.5;
    border-radius  : 0.25rem;
    transition     : background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color          : #28a745;
    background     : transparent none;
    border         : 1px solid #28a745;
}

.uploadcare--widget__button:hover {
    color            : #ffffff;
    background-color : #28a745;
    border-color     : #28a745;
}

/*Programs page*/
#programs-page > div, #program-list {
    border-right : 1px solid var(--gray);
    width        : 33.33%;
    min-width    : 320px;
}